<div class="container-fluid">
  <div class="card mb-3">
    <div class="card-header">
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <span><i class="fa fa-table"></i> Редактирование баннера</span>
        <div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form id="banner-form" class="needs-validation" novalidate method="POST" action="/admin/banners/edit/<%= banner.id %>" enctype="multipart/form-data">
        <div class="form-group">
          <label for="text"><span style="color: red;">*</span> Текст баннера <%= banner.id %></label>
          <textarea class="form-control" id="text" name="text" rows="4" required><%= banner.text %></textarea>
          <div class="invalid-feedback">
            Введите текст баннера
          </div>
        </div>
        <div class="form-group">
          <label for="photo"><span style="color: red;">*</span> Фотография баннера</label>
          <input type="file" class="form-control-file" id="photo" name="photo" required accept="image/*">
          <div class="invalid-feedback">
            Выберите фотографию баннера
          </div>
        </div>
        <div class="form-group">
          <img id="bannerPreview" src="<%= banner.photo %>" class="img-fluid" alt="Responsive image" >
        </div>
        <button class="btn btn-primary" type="submit">Сохранить</button>
      </form>
    </div>
  </div>
</div>