<section class="manufactures">
  <div class="container">
    <div class="row">
      <div class="head_section">
        <h3 class="title_section">ПРОИЗВОДИТЕЛИ</h3>
      </div>
      <div class="slider manufactures_slider">
        <div class="item_slider">
          <img src="/images/manufacturer/3M.png" />
        </div>
        <div class="item_slider">
          <img src="/images/manufacturer/anestiwata.png" />
        </div>
        <div class="item_slider">
          <img src="/images/manufacturer/befar.png" />
        </div>
        <div class="item_slider">
          <img src="/images/manufacturer/chamaleon.png" />
        </div>
        <div class="item_slider">
          <img src="/images/manufacturer/colad.png" />
        </div>
        <div class="item_slider">
          <img src="/images/manufacturer/duplicolor.png" />
        </div>
        <div class="item_slider">
          <img src="/images/manufacturer/farecla.png" />
        </div>
        <div class="item_slider">
          <img src="/images/manufacturer/fiac.png" />
        </div>
        <div class="item_slider">
          <img src="/images/manufacturer/hafman.png" />
        </div>
        <div class="item_slider">
          <img src="/images/manufacturer/hamach.png" />
        </div>
        <div class="item_slider">
          <img src="/images/manufacturer/kochchmie.png" />
        </div>
        <div class="item_slider">
          <img src="/images/manufacturer/matador.png" />
        </div>
        <div class="item_slider">
          <img src="/images/manufacturer/mirka.png" />
        </div>
        <div class="item_slider">
          <img src="/images/manufacturer/mobihel.png" />
        </div>
        <div class="item_slider">
          <img src="/images/manufacturer/motip.png" />
        </div>
        <div class="item_slider">
          <img src="/images/manufacturer/polikor.png" />
        </div>
        <div class="item_slider">
          <img src="/images/manufacturer/ranal.png" />
        </div>
      </div>
    </div>
  </div>
</section>