<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Админ панель автокраска</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/css/admin.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/css/dataTables.bootstrap4.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/dataTables.bootstrap4.js"></script>
  </head>
  <body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <a class="navbar-brand" href="/">Admin "Avtokraska.kg"</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="sidebar-menu">
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Products">
            <a class="nav-link" href="/admin">
              <i class="fa fa-fw fa-table"></i>
              <span class="nav-link-text">Товары</span>
            </a>
          </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="News">
            <a class="nav-link" href="/admin/news">
              <i class="fa fa-newspaper-o"></i>
              <span class="nav-link-text">Новости</span>
            </a>
          </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Categories">
            <a class="nav-link" href="/admin/categories">
              <i class="fa fa-list"></i>
              <span class="nav-link-text">Категории</span>
            </a>
          </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Banners">
            <a class="nav-link" href="/admin/banners">
              <i class="fa fa-picture-o"></i>
              <span class="nav-link-text">Баннеры</span>
            </a>
          </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Banners">
            <a class="nav-link" href="/admin/users">
              <i class="fa fa-users"></i>
              <span class="nav-link-text">Пользователи</span>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
          <li class="nav-item">
            <a class="nav-link text-center" id="sidenavToggler">
              <i class="fa fa-fw fa-angle-left"></i>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#logoutModal">
              <i class="fa fa-fw fa-sign-out"></i>Выйти</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="content-wrapper">
    	<%- body %>
      <footer class="sticky-footer">
        <div class="container">
          <div class="text-center">
            <small>Copyright © Avtokraska.kg 2024</small>
          </div>
        </div>
      </footer>
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
      </a>
      <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="logoutModalLabel">Вы действительно хотите выйти?</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">Нажмите выйти чтобы завершить текущую сессию.</div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Отмена</button>
              <a class="btn btn-primary" href="/admin/logout">Выйти</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/js/admin.js"></script>
</html>