<div class="container-fluid" style="min-height: calc(100vh - 130px); display: flex; align-items: center; justify-content: center;">
  <div class="col-md-12 text-center">
    <h1>404</h1>
    <h2>Страница не найдена</h2>
    <p>
      К сожалению, страница, которую вы ищете, не существует. <a href="/admin">На главную</a>
    </p>
  </div>
</div>