<div class="container-fluid">
  <div class="card mb-3">
    <div class="card-header">
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <span><i class="fa fa-newspaper-o"></i> Редактирование новости</span>
        <div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form id="news-form" class="needs-validation" novalidate method="POST" action="/admin/news/edit/<%= news.id %>" enctype="multipart/form-data">
        <div class="form-group">
          <label for="title"><span style="color: red;">*</span> Заголовок</label>
          <input value="<%= news.title %>" type="text" class="form-control" id="title" name="title" required>
          <div class="invalid-feedback">
            Введите заголовок
          </div>
        </div>
        <div class="form-group">
          <label for="photo"><span style="color: red;">*</span> Фотография</label>
          <input type="file" class="form-control-file" id="photo" name="photo" accept="image/*">
        </div>
        <div class="form-group">
          <img src="<%= news.previewPhoto %>" id="bannerPreview" class="img-thumbnail rounded mx-auto d-block" alt="Изображение" >
        </div>
        <div class="form-group">
          <label for="content"><span style="color: red;">*</span> Содержимое</label>
          <input id="fileInput" type="file" accept="image/png, image/jpeg" class="ql-image" style="display: none;">
          <div id="editor">
            <%- news.content %>
          </div>
          <input type="text" class="form-control" id="content" name="content" required style="display: none;">
          <div class="invalid-feedback">
            Заполните содержимое
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Отправить</button>
      </form>
    </div>
  </div>
  <script>
    const toolbarOptions = {
      container: [
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
        ['bold', 'italic', 'underline', 'strike'],
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        ['image'],
        [{ 'color': [] }],
        [{ 'align': [] }],
      ],
      handlers: {
        'header': (value) => {
          quill.format('header', value);
        },
        'bold': (value) => {
          quill.format('bold', value);
        },
        'italic': (value) => {
          quill.format('italic', value);
        },
        'underline': (value) => {
          quill.format('underline', value);
        },
        'strike': (value) => {
          quill.format('strike', value);
        },
        'list': (value) => {
          quill.format('list', value);
        },
        'color': (value) => {
          quill.format('color', value);
        },
        'align': (value) => {
          quill.format('align', value);
        },
        'image': () => {
          var fileInput = document.getElementById('fileInput');
          fileInput.click();
        }
      }
    };
    
    let fileInput = document.getElementById('fileInput');
    fileInput.onchange = () => {
      let file = fileInput.files[0];
      uploadImage(file);
      fileInput.value = '';
    }

    const uploadImage = (file) => {
      let formData = new FormData();
      formData.append('file', file, file.name);
      fetch('/admin/upload-media', {
          method: 'POST',
          body: formData,
        })
        .then(response => response.json())
        .then(result => {
          if (result.location) {
            const range = quill.getSelection(true);
            quill.insertEmbed(range.index, 'image', result.location, Quill.sources.USER);
          } else {
            console.error("Не удалось загрузить медиафайл");
          }
        })
        .catch(error => {
          console.error("Ошибка загрузки медиафайла:", error);
        });
    }
    
    const quill = new Quill('#editor', {
      theme: 'snow',
      modules: {
        toolbar: toolbarOptions
      }
    });

    let form = document.getElementById('news-form');
    form.onsubmit = () => {
      var html = quill.root.innerHTML;
      document.getElementById('content').value = html;
      return true;
    };
  </script>
</div>